@media only screen and (max-width:1280px){
h1{
    color: black;
}
}
@media only screen and (max-width:1023px){
    h1{
        color: red;
    }
}
@media only screen and (max-width:767px){
    .main-btn:link,
    .main-btn:visited {
        font-size: 150%;
        
    }
    .span_1_of_4{
        width: 90%;
        display: block;
    }
}

@media only screen and (max-width:480px){
    .btn:link,
    .btn:visited {
        font-size: 150%;
        
    }
}