* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: black;
    list-style: none;
}

a {
    text-decoration: none;
}

html body {
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: 'work sans', 'Arial';
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .8)), url(img/header-img.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    margin-bottom: 10%;
}

h1 {
    color: white;
    font-size: 450%;
    font-weight: 400;
}

h2 {
    font-size: 200%;
    color: white;
    font-weight: 300;
}

.header-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited ,
input[type=submit]{
    padding: 10px 30px;
    border-radius: 200px;
    border: #0e44f7 solid 2px;
    
}

.btn-full:link,
.btn-full:visited,input[type=submit]{
    background-color: #0e44f7;
    color: white;
}


.header-box-text {
    margin-bottom: 80px;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:active,
input[type=submit]:hover {
    background-color: #0a0fa8;
    border-color: #0a0fa8;
}

.btn-div {
    margin-top: 100px;
    padding: 0%;

}

.btn-div:hover {
    transform: scale(0.9, 0.9);
    transition: 0.4s;

}

.logo {

    width: 120px;
    top: 0%;
    float: left;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;

}

.main-nav {
    list-style: none;
    float: right;
    margin-top: 2%;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: white;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: #0e44f7 solid 2px;
    padding-bottom: 10px;
    transition: border-bottom .3s;
}

.about-title {
    color: black;
    font-size: 250%;
    margin-bottom: 50px;
    font-weight: 500;

}

.about-img {
    height: 300px;
    border-radius: 30px;
    float: right;
}

.about-text {
    margin-bottom: 50px;

}

.btn-ghost:link,
.btn-ghost:visited {
    color: #0e44f7;

}

.btn-ghost:active,
.btn-ghost:hover {
    color: white;
    background-color: #0e44f7;
}

.about:first-child {
    text-align: right;
}

.about:last-child {
    text-align: left;
    padding: 0% 8%;

}

.activity {
    margin-top: 130px;
    margin-bottom: 120px;
    padding-top: 20px;
    width: 100vw;

}

.div-head {
    color: black;
    font-size: 250%;
    text-align: center;
    padding-bottom: 30px;
}

.div-sub-head {
    text-align: center;
    font-size: 150%;
    font-weight: 300;
    color: darkgray;
    margin-bottom: 30px;
}

.div-sub-head:after {
    width: 100px;
    height: 2px;
    background-color: #0e44f7;
    display: block;
    content: " ";
    margin-left: 45%;
    margin-top: 3%;

}

.activityList {
    width: 100vw;
    display: inline-block;

}

.activityList li {
    display: block;
    float: left;
    margin: 0px;
    border-right: 1px solid black;
}

.activity-pics img {
    width: 24.85vw;
    box-sizing: border-box;
    opacity: 0.7;
    transform: scale(1.3);
    transition: .6s;
}

.activity-pics {
    background-color: black;
    overflow: hidden;

}

.activity-text {
    color: white;
    text-align: center;
    font-weight: 300;

}

.activity-pics img:hover {
    transform: scale(1);
    opacity: 1;
    transition: .6s;

}

.fa-solid,
.fa-code {
    color: #0a0fa8;
    font-size: 170%;
}

.service-box {
    padding: 30px;
}

.service-box p {
    font-size: 90%;
    margin-bottom: 30px;

}

.service-box a {
    font-size: 130%;
    color: #0e44f7;
    text-align: center;
}

.service-box h4 {
    margin-bottom: 30px;
    font-size: 200%;
    font-weight: 500;
}

.large-ico {
    font-size: 500%;
    color: #1820fb;
    margin-bottom: 30px;
}

.services-section {
    text-align: center;
    width: 100vw;
    margin-bottom: 100px;
}

.quotes {
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url(img/quotes.jpg);
    background-size: cover;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-attachment: fixed;
    background-position: center;
}

.quote-author {
    width: 7vw;
    border-radius: 100%;
    height: 20%;
    vertical-align: middle;
    margin-right: 15px;


}

.quote-text {
    font-size: 250%;
    text-align: center;
    margin-top: 100px;
    color: white;
    margin-bottom: 35px;
    box-sizing: border-box;

}

.the-quote blockquote,
.the-quote cite {
    color: white;

}

.the-quote {
    margin-bottom: 50px;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    padding-bottom: 12%;
}

blockquote:before {
    display: block;
    color: white;
    width: 100px;
    font-size: 500%;
    content: "\201C";
}

cite {
    display: block;

}

.package-header-text {
    color: black;
    font-size: 300%;
    text-align: center;
    margin-top: 100px;
    padding-top: 80px;
    margin-bottom: 50px;
}

.gray-back {
    background-color: #eaeaea;
    width: 100vw;
}

.package-box {
    background-color: white;
    margin-bottom: 30px;
}
.package-title{
    color: #444;
    font-size: 180%;
    font-weight: 400;
    margin-bottom: 50px;
}
.package-price{
    color: #0e44f7;
    font-size: 300%;
    font-weight: 300;
    margin-bottom: 10px;
}
.package-price span{
    font-size: 50%;
    color: #0e44f7;
    font-weight: 500;
}
.package-para{
    font-size: 80%;
    margin-bottom: 10px;
}
.fa-check{
    color: #0e44f7;
    font-size: 130%;
    margin-right: 10px;
    width: 30px;
    text-align: center;
}
.package-box ul li {
    color: #444;
    padding: 5px 0;
}
.package-box div{
    padding: 15px;
    border-bottom: #efefef solid 1px;
}
.package-box div:last-child{
    border: 0px;
    text-align: center;
    padding: 25px;
}
.package-box div:first-child{
    background-color: #fafafa;
}
input[type=text],input[type=email], textarea{
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: #444 solid 1px;
    background-color: white;
}
label{
margin-bottom: 5px;
margin-left: 35%;
color: #444;
}
textarea{
    height: 10vh;
    resize: none;
}
footer{
    text-align: center;
    background-color: #444;
    padding: 40px;
    width: 100vw;
}
ul li{
    display: inline-block;
    margin-left: 20px;
}
.social-media{
    float: right;
}
.footer-list{
    float: left;
}
.footer1{
    margin-bottom: 20px;
}
footer a, footer p{
    color:#888;
    font-size: 75%;
    font-weight: 300;
}
footer a:hover{
    color: #FFF;
    transition: .2s;
}
footer i{
    font-size: 22px;
    transition: .2s;

}
.fa-facebook:hover{
    color: #4267B2;
    transition: .2s;
}
.fa-instagram:hover{
    color:#F56040;
    transition: .2s;
}
.fa-discord:hover{
    color:#7289da;
    transition: .2s;
}